<!DOCTYPE html>
{% load static %}
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
    
        <title>Rare. | Forgot Passsword</title>
    
        <!-- Bootstrap core CSS -->
        <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    
    
        <!-- Additional CSS Files -->
        <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/templatemo-stand-blog.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!--
    
    TemplateMo 551 Stand Blog
    
    https://templatemo.com/tm-551-stand-blog
    
    -->
        
    </head>
<body>
    <div class="heading-page header-text">
        <section class="page-heading">
          <div class="container">
            <div class="row">
              <div class="col-12 col-lg-8">
                <div class="text-content">
                  <h4>RARE.</h4>
                  <span style="color: white; font-size: x-large;">An email has been sent to you with instructions <span style="color: #f48840; font-size: large;">Check your email !</span></span>
                </div>
              </div>
            </div>
          </div>
        </section>
    </div>
    
</body>
</html>